.app-wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-rows: 130px 1fr;
  margin: 0 auto;
  width: 1100px;
  height: 900px;
}
.content {
  grid-area: content;
}
